# Default ignored files
/shelf/
/workspace.xml
.idea/
out/
src/src.iml

# Datasource local storage ignored files
/../../../../../../../:\Users\ChangJun.Choi\Desktop\개발코드\algorithmWithJava\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
